body{
    margin: 0 10%;
}
.container{  
 display: flex;
 justify-content: space-between;
 margin-top: 20px;

}
.iconenabar{
    display: flex;
    gap: 20px;
    align-items: center;

}
.selettore {
    border-bottom: 1px black solid;
}
.navbar img{
    width: 200px;
}
.userprofile{
    border-radius: 10px;
    background-color: orange;
}
.ricerca{
    border-radius: 10px;
}
.colonnasinistra{
    width: 70%;
    
}
.corpopagina{
    height: 100%;
    margin-top: 20px;
}

.card img{
    height: 20px;
    width: 20px;
    margin-top: 30px;
}
.autore{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.carta{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.immaginecarta img{
    width: 20px;
    display: flex;
    align-items: center;
}
.titolo{
    display: flex;
    
}
.insieme{
    gap: 20px;
}
ul{
    display: flex;
    gap:20px;
}
.lista{
    display: flex;
    align-items: center;
}
.imgucelo{
width: 200px;
height: 100px;
}
.iconenavbar{
    display: flex;
    align-items: center;
}
.final{
    display: flex;
    align-items: baseline;
}
.t{
    border-left: 1px solid gray;
    height: 1500px;
    position: absolute;
    left:70%;
    margin-left: 15px;
    top:100px;
}
.imgdx{
    display: flex;
    justify-content: flex-end;
    
}

#twitter{
    width: 50px;
}
.insta{
    width: 50px;
}
.discover{
    display: flex;
    justify-content: flex-end;
    color: black;
    margin-right: -50px;
    margin-top: 20px;

}
.imgtex{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 670px;
    border-radius: 5px;
    flex-direction: row-reverse;
}
.imgtex img{
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
}
.maybe{
    display: flex;
    justify-content: flex-end;
    color:darkgrey;
    font-size: larger;
    margin-top: 15px;
}
.linies{
   width: 27%;
   margin-left: 630px;
   
}
.container2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 610px;
    
}

